---

interface Props {
  title: string
  description: string
  extra: string
  technologiesUsed: string[]
  imageUrl: string
  projectPageUrl: string
	reverse?: boolean
}

const { title, description, extra, technologiesUsed, imageUrl, reverse, projectPageUrl } = Astro.props

---

<article class="flex flex-col md:flex-row items-center gap-10 md:gap-6" >
  <header class:list={[
    "w-full md:w-1/2 flex-shrink-0 order-2 md:order-none",
    {
      "!order-2": reverse
    }  ]} >
    <div class="mb-5">
      <span class="text-[0.75rem] text-secondary">{extra}</span>
      <strong class="block text-2xl">{title}</strong>
    </div>

    <div class="p-5 bg-cage rounded-lg box-shadow-one mb-5">
      <p class="text-sm">{description}</p>
    </div>

    <ul class:list={[
      "flex flex-wrap gap-5 px-2",
      {
        "md:justify-end": reverse
      }
    ]}>
      {
        technologiesUsed.map(technologieUsed => (
          <li>
            <img
              src={`/icons/${technologieUsed}.svg`}
              alt={`${technologieUsed} icon`}
              class="h-6"
            >
          </li>
        ))
      }
    </ul>
  </header>

  <footer class="w-full md:w-1/2 footer-card-projects relative">
    <a href={projectPageUrl} target="_blank" class="block">
      <img
        src={imageUrl}
        class:list={[
          "w-full h-full rounded-md perspective-left",
          {
            "perspective-rigth": reverse
          }
        ]}
        loading="lazy"
      >
    </a>
  </footer>
</article>